*filter
:ufw6-user-input - [0:0]
:ufw6-user-output - [0:0]
:ufw6-user-forward - [0:0]
:ufw6-before-logging-input - [0:0]
:ufw6-before-logging-output - [0:0]
:ufw6-before-logging-forward - [0:0]
:ufw6-user-logging-input - [0:0]
:ufw6-user-logging-output - [0:0]
:ufw6-user-logging-forward - [0:0]
:ufw6-after-logging-input - [0:0]
:ufw6-after-logging-output - [0:0]
:ufw6-after-logging-forward - [0:0]
:ufw6-logging-deny - [0:0]
:ufw6-logging-allow - [0:0]
:ufw6-user-limit - [0:0]
:ufw6-user-limit-accept - [0:0]
### RULES ###

### tuple ### allow any any ::/0 any ::/0 in_tailscale0 comment=616c6c6f77207472616666696320766961207461696c7363616c6520696e74657266616365
-A ufw6-user-input -i tailscale0 -j ACCEPT

### tuple ### allow udp 41641 ::/0 any ::/0 in comment=616c6c6f77207461696c7363616c652075647020686f6c652070756e6368696e67
-A ufw6-user-input -p udp --dport 41641 -j ACCEPT

### tuple ### allow any any ::/0 any ::/0 in_virbr0 comment=616c6c6f77207472616666696320766961207669727475616c20627269646765
-A ufw6-user-input -i virbr0 -j ACCEPT

### tuple ### allow tcp 8080 ::/0 any ::/0 in_tailscale0 comment=7065726d6974206f70656e776562756920766961207461696c7363616c65
-A ufw6-user-input -i tailscale0 -p tcp --dport 8080 -j ACCEPT

### tuple ### allow tcp 11434 ::/0 any ::/0 in_tailscale0 comment=7065726d6974206f6c6c616d612061706920766961207461696c7363616c65
-A ufw6-user-input -i tailscale0 -p tcp --dport 11434 -j ACCEPT

### END RULES ###

### LOGGING ###
-I ufw6-user-logging-input -j RETURN
-I ufw6-user-logging-output -j RETURN
-I ufw6-user-logging-forward -j RETURN
### END LOGGING ###

### RATE LIMITING ###
-A ufw6-user-limit -j REJECT
-A ufw6-user-limit-accept -j ACCEPT
### END RATE LIMITING ###
COMMIT
