*filter
:ufw-user-input - [0:0]
:ufw-user-output - [0:0]
:ufw-user-forward - [0:0]
:ufw-before-logging-input - [0:0]
:ufw-before-logging-output - [0:0]
:ufw-before-logging-forward - [0:0]
:ufw-user-logging-input - [0:0]
:ufw-user-logging-output - [0:0]
:ufw-user-logging-forward - [0:0]
:ufw-after-logging-input - [0:0]
:ufw-after-logging-output - [0:0]
:ufw-after-logging-forward - [0:0]
:ufw-logging-deny - [0:0]
:ufw-logging-allow - [0:0]
:ufw-user-limit - [0:0]
:ufw-user-limit-accept - [0:0]
### RULES ###

### tuple ### deny any 23 0.0.0.0/0 any 0.0.0.0/0 in comment=54656c6e6574
-A ufw-user-input -p tcp --dport 23 -j DROP
-A ufw-user-input -p udp --dport 23 -j DROP

### tuple ### deny tcp 137:139 0.0.0.0/0 any 0.0.0.0/0 in comment=4e657442494f53202854435029
-A ufw-user-input -p tcp -m multiport --dports 137:139 -j DROP

### tuple ### deny udp 137:139 0.0.0.0/0 any 0.0.0.0/0 in comment=4e657442494f53202855445029
-A ufw-user-input -p udp -m multiport --dports 137:139 -j DROP

### tuple ### deny any 445 0.0.0.0/0 any 0.0.0.0/0 in comment=534d422f43494653
-A ufw-user-input -p tcp --dport 445 -j DROP
-A ufw-user-input -p udp --dport 445 -j DROP

### tuple ### allow tcp 7891 0.0.0.0/0 any 192.168.31.20 in comment=4f70656e535348204461656d6f6e20666f72205465726d7578
-A ufw-user-input -p tcp --dport 7891 -s 192.168.31.20 -j ACCEPT

### tuple ### allow any 53317 0.0.0.0/0 any 192.168.31.20 in comment=4c6f63616c53656e6420666f7220504432323833
-A ufw-user-input -p tcp --dport 53317 -s 192.168.31.20 -j ACCEPT
-A ufw-user-input -p udp --dport 53317 -s 192.168.31.20 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 0.0.0.0/0 in_virbr0
-A ufw-user-input -i virbr0 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 0.0.0.0/0 out_virbr0
-A ufw-user-output -o virbr0 -j ACCEPT

### tuple ### allow any 8080 0.0.0.0/0 any 0.0.0.0/0 in comment=507974686f6e2048545450
-A ufw-user-input -p tcp --dport 8080 -j ACCEPT
-A ufw-user-input -p udp --dport 8080 -j ACCEPT

### END RULES ###

### LOGGING ###
-A ufw-after-logging-input -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-I ufw-logging-deny -m conntrack --ctstate INVALID -j RETURN -m limit --limit 3/min --limit-burst 10
-A ufw-logging-deny -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-logging-allow -j LOG --log-prefix "[UFW ALLOW] " -m limit --limit 3/min --limit-burst 10
### END LOGGING ###

### RATE LIMITING ###
-A ufw-user-limit -m limit --limit 3/minute -j LOG --log-prefix "[UFW LIMIT BLOCK] "
-A ufw-user-limit -j REJECT
-A ufw-user-limit-accept -j ACCEPT
### END RATE LIMITING ###
COMMIT
